.principal {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;

    width: 100vw;
    min-height: 100vh;

    background-color: var(--fondobody);

    font-family: var(--bodytexto);
    color: var(--textogeneral);
    line-height: 40px;
}

.titulo {
    font-family: var(--bodytitulo);
    color: var(--textotitulo);
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

    margin: 50px;
    border-radius: 20px;
    border-color: var(--bordercolorprimario);
    border-style: solid;
    border-width: 1px;
}


.destacado {
    /* AVERIGUAR POR QUÉ FUNCIONA CON INLINE FLEX LA ROTACIÓN */
    display: inline-flex;
    margin: 0px;
    background-color: var(--colordestacado);
    padding: 5px 10px 5px 10px;
    transform: rotate(-5deg);
}

.palabraDestacada {
    transform: rotate(5deg);
}

.codigo {
    margin: 0px 100px 0px 100px;
    border-radius: 10px;
    border-color: dimgray;
    border-style: solid;
    border-width: 30px 0px 30px 0px;
    /* background-color: transparent; */
    background-color: rgb(0, 0, 0);

    line-height: 15px;
}