.codigo {
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
    border-color: dimgray;
    border-style: solid;
    border-width: 30px 0px 30px 0px;
    background-color: rgb(0, 0, 0);
    font-family: var(--bodytexto);
    line-height: 13px;
}