.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    position: relative;

    width: 100wh;
    height: 150px;
    background-color: var(--fondofooter);
    color: var(--textosubtitulo);

    font-family: var(--footertexto);
}
.cuadrado {
    position:absolute;

    width: 50px;
    height: 50px;

    transform: rotate(45deg);

    border-radius: 5px;
    border-color: var(--bordercolorprimario);
    border-style: solid;
    border-width: 1px;

    background: repeating-linear-gradient(
        -45deg,
        var(--fondobody) 20px, 
        var(--fondobody) 40px, 
        var(--fondobody) 40px, 
        var(--fondobody) 60px
        );
    animation: change-color 2s ease 0s infinite;
}

@keyframes change-color {

     5% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondobody) 20px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 40px, 
            var(--fondobody) 60px
            );
    }
     10% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondofooter) 20px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 40px, 
            var(--fondobody) 60px
            );
    }
    20%{
        background: repeating-linear-gradient(
            -45deg,
            var(--fondofooter) 20px, 
            var(--fondofooter) 40px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 60px
            );
    }
    30% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondofooter) 20px, 
            var(--fondofooter) 40px, 
            var(--fondofooter) 40px, 
            var(--fondofooter) 60px
            );
    }
    50% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondofooter) 20px, 
            var(--fondofooter) 40px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 60px
            );
    }
    70% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondofooter) 20px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 40px, 
            var(--fondobody) 60px
            );
    }
    90% {
        background: repeating-linear-gradient(
            -45deg,
            var(--fondobody) 20px, 
            var(--fondofooter) 40px, 
            var(--fondobody) 40px, 
            var(--fondobody) 60px
            );
    } 

}
