* {
  margin: 0;
  padding: 0;

  /* variables de color */
  --fondonavbar: #161616;
  --fondobody: #1b1b1b;
  --fondofooter: rgb(90, 35, 35);
  --bordercolorprimario: #d59b78;
  --bordercolorsecundario: #5a2323;
  --textotitulo: #d59b78;
  --textosubtitulo: #e5c69E;
  --textogeneral: #ffffff;
  --colordestacado: rgba(90, 35, 35, 0.6);

  /* variables de tipo de texto */
  --navbarlogo: 'Allerta Stencil';
  --navbarmenu: 'Gruppo';
  --bodytitulo: 'Audiowide';
  --bodytexto: 'Raleway';
  --footertexto: 'Gruppo';
}